<a href="https://colab.research.google.com/github/DrSubbiah/python/blob/main/latandlong.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib as plt
import numpy as np
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import matplotlib.pyplot as plt
import plotly.express as px

In [ ]:
locator = Nominatim(user_agent='myGeocoder')
coordinates = '10.880838417534227, 77.02241131471683'
location = locator.reverse(coordinates)
location.raw

{'place_id': 204257465,
 'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 436191202,
 'lat': '10.87831015',
 'lon': '77.02080233665069',
 'display_name': 'Karpagam College of Engineering, LBS HALL, Coimbatore South, Coimbatore District, Tamil Nadu, 641032, India',
 'address': {'amenity': 'Karpagam College of Engineering',
  'road': 'LBS HALL',
  'county': 'Coimbatore South',
  'state_district': 'Coimbatore District',
  'state': 'Tamil Nadu',
  'ISO3166-2-lvl4': 'IN-TN',
  'postcode': '641032',
  'country': 'India',
  'country_code': 'in'},
 'boundingbox': ['10.8763669', '10.8806241', '77.0174488', '77.0235481']}

In [ ]:
url = 'https://www.dropbox.com/s/15gisj8hx218rn1/street-pole-sample.csv?dl=1'
df = pd.read_csv(url)
df

,Unnamed: 0,X,Y,OBJECTID,OID,POLE_NUM,TYPE,NLUMIN,LUM_SIZE,HEIGHT,POLE_DATE,UP_DATE,OWNER,TAP_ID,BLOCK,PLATE
0,423,-75.170097,39.942766,41341,0,214423,WP,NaN,NaN,NaN,1997-06-09T00:00:00.000Z,1997-06-09T00:00:00.000Z,PECO,0.0,NaN,NaN
1,85,-75.166112,39.941477,42523,0,215645,AAPT,2.0,250.0,25.0,1997-06-10T00:00:00.000Z,1997-06-10T00:00:00.000Z,Streets,214622.0,NaN,NaN
2,121,-75.163483,39.943068,42730,0,215926,WP,NaN,NaN,NaN,1997-06-04T00:00:00.000Z,1997-06-04T00:00:00.000Z,PECO,0.0,NaN,NaN
3,478,-75.167727,39.944528,41409,0,214515,WP,1.0,100.0,25.0,1997-06-09T00:00:00.000Z,1997-06-09T00:00:00.000Z,Streets,214515.0,NaN,NaN
4,392,-75.171863,39.941486,41298,0,214380,WP,1.0,100.0,25.0,1997-06-09T00:00:00.000Z,1997-06-09T00:00:00.000Z,Streets,214380.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,356,-75.170468,39.944849,41262,0,214337,WP,NaN,NaN,NaN,1997-06-09T00:00:00.000Z,1997-06-09T00:00:00.000Z,PECO,0.0,NaN,NaN
146,3,-75.173766,39.943749,42298,0,215414,SNP,NaN,NaN,NaN,1997-06-05T00:00:00.000Z,1997-06-05T00:00:00.000Z,Streets,0.0,NaN,NaN
147,660,-75.171578,39.946302,41912,0,215018,C13,NaN,NaN,NaN,2003-06-24T00:00:00.000Z,2003-06-24T00:00:00.000Z,Streets,0.0,NaN,NaN
148,779,-75.165930,39.943662,50895,0,226302,CCP,1.0,200.0,20.0,2001-09-15T00:00:00.000Z,2001-09-15T00:00:00.000Z,Streets,226301.0,NaN,NaN
149,227,-75.173997,39.946197,41087,0,214134,PTC,1.0,100.0,15.0,1997-06-05T00:00:00.000Z,1997-06-05T00:00:00.000Z,Streets,214134.0,NaN,NaN